{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
{# <main class="container mt-5"> #}
<main>
    <h2>Contactez-nous</h2>
    {{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
        <div>
            {{ form_label(form.email, 'Email :', { 'label_attr': { 'class': 'form-label' } }) }}
            {{ form_widget(form.email, { attr: { placeholder: 'Email...', 'class': 'form-control' } }) }}
            {{ form_errors(form.email, { 'class': 'text-danger' }) }}
        </div>
        <div>
            {{ form_label(form.subject, 'Sujet :', { 'label_attr': { 'class': 'form-label' } }) }}
            {{ form_widget(form.subject, { attr: { placeholder: 'Décrivez le sujet du problème...', 'class': 'form-control' } }) }}
            {{ form_errors(form.subject, { 'class': 'text-danger' }) }}
        </div>
        <div>
            {{ form_label(form.message, 'Message :', { 'label_attr': { 'class': 'form-label' } }) }}
            {{ form_widget(form.message, { attr: { placeholder: 'Décrivez votre question....', 'class': 'form-control' } }) }}
            {{ form_errors(form.message, { 'class': 'text-danger' }) }}
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
        {% include "_inc/notice.html.twig" %}
    {{ form_end(form) }}
</main>
{% endblock %}
