{% extends "base.html.twig" %}
{% block title %}{{ parent() }} - Vos commandes{% endblock %}

{% block body %}
<main>
    <h1>Tableau de commandes</h1>
{% include "_inc/notice.html.twig" %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                </tr>         
            </thead>
            <tbody>
                {% for orderDetail in ordersDetails %}
                    <tr>
                        <td>
                            <img class="img_product_one" src="{{ asset('img/' ~ orderDetail.article.title ~  '/' ~ orderDetail.article.picture) }}" alt="{{ orderDetail.article.description }}">
                            {{ orderDetail.article.title }}
                        </td>
                        <td>{{ orderDetail.price | format_currency('EUR', locale='fr') }}</td>
                        <td>{{ orderDetail.qty }}
                        <td>
                            <a href="{{url('productShip.show', { slug: orderDetail.article.slug })}}" class="btn btn-sm btn-primary">Voir</a>
                            <a href="{{url('admin.shipUser.remove', { id: orderDetail.id })}}" class="btn btn-sm btn-danger">Supprimer</a>
                        </td>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <thead>
                {% for order in orders %}
                    <tr>
                        <th>Tout vos produits : {{ order.totalQty }}</th>
                        <th>Prix total : {{ order.totalPrice | format_currency('EUR', locale='fr') }}</th>
                    </tr>
                {% endfor %}    
            </thead>
        </table>
    </div>
</main>
{% endblock %}