{# templates/admin/user/userAccount.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Vos commandes{% endblock %}

{% block body %}
<main>
    <section class="faq_container">
        <article class="menu_filter_faq">
            <ul>
                <li><a href="#" class="menu-item" data-target="text_hide1">Mon Compte</a></li>
                <li><a href="#" class="menu-item" data-target="text_hide2">Mes Commandes</a></li>
                <li><a href="#" class="menu-item" data-target="text_hide3">Mes Informations Personnelles</a></li>
                <li><a href="#" class="menu-item" data-target="text_hide4">Mes Retours</a></li>
                <li><a href="#" class="menu-item" data-target="text_hide5">Politique de retour</a></li>
            </ul>
        </article>

        {% for user in users %}
            <article class="faq_text">
                <article id="text_hide1" class="hidden">
                    <p>Bienvenue {{ user.lastname }}</p>
                </article>
        {% endfor %}

        <article id="text_hide2" class="hidden">
            <h2>Tableau de commandes</h2>
            {% include "_inc/notice.html.twig" %}
<div class="table-responsive custom-responsive-table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for orderDetail in ordersDetails %}
                <tr>
                    <td>{{ orderDetail.article.title }}</td>
                    <td>{{ orderDetail.price | format_currency('EUR', locale='fr') }}</td>
                    <td>{{ orderDetail.qty }}</td>
                    <td>
                        <a href="{{ url('productShip.show', { slug: orderDetail.article.slug }) }}" class="btn btn-sm btn-primary">Voir</a>
                        <a href="{{ url('admin.shipUser.remove', { id: orderDetail.id }) }}" class="btn btn-sm btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            {% for order in orders %}
                <tr>
                    <td colspan="2">Tout vos produits : {{ order.totalQty }}</td>
                    <td colspan="2">Prix total : {{ order.totalPrice | format_currency('EUR', locale='fr') }}</td>
                </tr>
            {% endfor %}
        </tfoot>
    </table>
</div>
        </article>

        <article id="text_hide3" class="hidden">
            <h2>Vos informations personnelles</h2>
            {% form_theme form 'bootstrap_5_layout.html.twig' %}
            {{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
            <div>
                {{ form_label(form.email, 'Email : ') }}
                {{ form_widget(form.email, { attr: { placeholder: 'Email...' } }) }}
                {{ form_errors(form.email) }}
            </div>
            {% if form.password is defined %}
            <div>
                {{ form_label(form.password, 'Password : ') }}
                {{ form_widget(form.password, { attr: { placeholder: 'Password...' } }) }}
                {{ form_errors(form.password) }}
            </div>
            <div>
            {% endif %}
                {{ form_label(form.lastname, 'Last Name : ') }}
                {{ form_widget(form.lastname, { attr: { placeholder: 'Last Name...' } }) }}
                {{ form_errors(form.lastname) }}
            </div>
            <div>
                {{ form_label(form.firstname, 'First Name : ') }}
                {{ form_widget(form.firstname, { attr: { placeholder: 'First Name...' } }) }}
                {{ form_errors(form.firstname) }}
            </div>
            <div>
                {{ form_label(form.birthday, 'Birthday : ') }}
                {{ form_widget(form.birthday) }}
                {{ form_errors(form.birthday) }}
            </div>
            <div>
                {{ form_label(form.adresse, 'Address : ') }}
                {{ form_widget(form.adresse, { attr: { placeholder: 'Address...' } }) }}
                {{ form_errors(form.adresse) }}
            </div>
            <div>
                {{ form_label(form.zipCode, 'Zip Code : ') }}
                {{ form_widget(form.zipCode, { attr: { placeholder: 'Zip Code...' } }) }}
                {{ form_errors(form.zipCode) }}
            </div>
            <div>
                {{ form_label(form.city, 'City : ') }}
                {{ form_widget(form.city, { attr: { placeholder: 'City...' } }) }}
                {{ form_errors(form.city) }}
            </div>
            <div>
                {{ form_label(form.country, 'Country : ') }}
                {{ form_widget(form.country, { attr: { placeholder: 'Country...' } }) }}
                {{ form_errors(form.country) }}
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
            {{ form_end(form) }}
        </article>

        <article id="text_hide4" class="hidden"></article>

        <article id="text_hide5" class="hidden">
            <h3>Qu'est-ce que la garantie légale de conformité et quelle est sa durée de validité ?</h3>
            <p class="content">
                Afin de garantir cette conformité, le vendeur professionnel est tenu, pendant une durée de 2 ans à compter de la remise des biens au particulier consommateur, à la garantie légale de conformité (articles L217-1 à L217-14 du Code de la consommation). Cette garantie s'applique aux défauts de conformité déjà présents à la date de livraison.
            </p>
            <h3>Comment faire valoir mes droits et faire une réclamation en cas de défaut ?</h3>
            <p class="content">
                Si vous êtes dans le délai de garantie et que l’article pour lequel vous souhaitez faire une réclamation correspond à un des cas couverts par la garantie légale de conformité (voir les cas ci-dessus), vous pouvez contacter notre service client via ce formulaire en expliquant le problème rencontré et en accompagnant votre demande :
                <ul>
                    <li>de votre justificatif d'achat,</li>
                    <li>de photos de l’article et de ses défauts justifiant de la réalité du défaut de conformité.</li>
                </ul>
                Le service client validera ensuite votre demande avant de vous proposer la réparation du produit si cela est possible ou un avoir correspondant au montant payé à l’origine pour cet article afin que vous puissiez le remplacer.
            </p>
        </article>
    </section>
</main>

{% endblock %}
