{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
<main>
<h2>Manga Form Administration</h2>
            {% include "_inc/notice.html.twig" %}
{{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
    <div>
        {{ form_label(form.name, 'Name : ') }}
        {{ form_widget(form.name, { attr: { placeholder: 'Name...' } }) }}
        {{ form_errors(form.name) }}
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
{{ form_end(form) }}
</main>
{% endblock %}