         {% block javascripts %}
        <script src="{{ asset('js/bootstrap.bundle.min.js')}}" defer></script>
        <script src="{{ asset('js/scriptSearchbar.js')}}" defer></script>
        {% endblock %}
 <header>
        <section class="Banniere"><h1>Shonen world</h1></section>

        {# <section class="menu1">

            <article class="faq">
            <a href="{{url('homepage.index')}}">Acceuil</a>
            <a href="{{url('other.faq')}}">FAQ</a>
            <a href="{{url('other.news')}}">News</a>
            <article class="menu_user">
            <a href="{{url('other.register')}}">Inscrivez-vous</a>
            <a href="#">Connectez-vous</a>
            </article>
            </article>


        

        <article class="burger">
            <img class="imgicons" src="{{ asset('img/icons/search.svg') }}" alt=>
            <img class="imgicons" src="{{ asset('img/icons/shopping-cart.svg') }}" alt=>
            <img class="imgicons" src="{{ asset('img/icons/user.svg') }}" alt=>
        </article>
    </section>

        <article class="menu">
            <a href="{{url('product.index')}}">Tous nos produits</a>
            <a href="{{url('product.vetements')}}">Vetements</a>
            <a href="{{url('product.goodies')}}">Goodies</a>
            <a href="{{url('product.figurines')}}">Figurines</a>
        </article>
</section>
</header> #}

<nav class="navbar navbar-expand-lg bg-body-tertiary bg-success">
  <article class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <article class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url('homepage.index')}}" style="font-weight: bold; color: blue;">Acceuil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url('other.faq')}}" style="font-weight: bold; color: blue;">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url('other.news')}}" style="font-weight: bold; color: blue;">News</a>
        </li>
      </ul>
    </article>
    <article class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{url('product.index')}}" style="font-weight: bold; color: blue;">Tous nos produits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url('product.vetements')}}" style="font-weight: bold; color: blue;">Vetements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url('product.goodies')}}" style="font-weight: bold; color: blue;">Goodies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url('product.figurines')}}" style="font-weight: bold; color: blue;">Figurines</a>
        </li>
      </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navbarSupportedContent">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          
        <li class="nav-item">
          <a class="nav-link" href="{{url('admin.userAccount.form')}}" style="font-weight: bold; color: blue;">Mon Compte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url('security.logout')}}" style="font-weight: bold; color: blue;">Se déconnecter</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{url('other.register')}}" style="font-weight: bold; color: blue;">Inscrivez-vous</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url('security.login')}}" style="font-weight: bold; color: blue;">Se connecter</a>
        </li>
        {% endif %}
      </ul>
    </article>
      
    <form id="headerSearchForm" class="d-flex" role="search">
      <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit" style="opacity: 1;">Search</button>
    </form>
    <div class="search-results-container">
    <ul id="search-results">
        
    </ul>
</div>
  </article>
</nav>
</header>