
{% extends "base.html.twig" %}
{% block title %}{{parent()}} -Page des <Figurines>{% endblock %}        
{% block javascripts %}
        <script src="{{ asset('js/bootstrap.bundle.min.js')}}" defer></script>
        <script src="{{ asset('js/script.js')}}" defer></script>
        {# // <script src="{{ asset('js/scriptIndex.js')}}" defer></script> #}
        {# // <script src="{{ asset('js/scriptFaq.js')}}" defer></script> #}
{% endblock %}
{% block body %}
<main>

        
    <section class="products-and-filters">

        <article class="menu_filter">
            <h3>Nos Figurines</h3>
            {% for manga in Mangas %}
            <ul>
            <li><a href="{{ url('product.show', {'slug': manga.name}) }}">{{manga.name}}</a></li>
            </ul>
            {% endfor %}
        </article>

        <article class= "product-container">
            {% for figurine in Figurines %}
            <article class="product-item">
                <img class= "imgproduct" src="{{ asset('img/Figurine/' ~ figurine.picture) }}" alt="{{ figurine.description }}">
                <article class="priceJs" data-redirect-url="{{ url('manga.show', {'slug': figurine.title}) }}">{{ figurine.price | format_currency('EUR', locale='fr')}}</article>
                <h3 class ="product-item">{{ figurine.title }}</h3>
            </article>
            {% endfor %}
        </article>
    </section>

</main>

{% endblock %}
