{% extends "base.html.twig" %}
{% block title %}{{parent()}} -Page des Goodies{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/bootstrap.bundle.min.js')}}" defer></script>
<script src="{{ asset('js/script.js')}}" defer></script>
{% endblock %}
{% block body %}
<main>
    <section class="products-and-filters">
            <article class="menu_filter">
            <h3>Nos Goodies</h3>
            {% for manga in Mangas %}
            <ul>
            <li><a href="#">{{manga.name}}</a></li>
            </ul>
            {% endfor %}
        </article>

        <article class= "product-container">
            {% for goodie in Goodies %}
            <article class="product-item">
                <img class= "imgproduct" src="{{ asset('img/Goodie/' ~ goodie.picture) }}" alt="{{ goodie.description }}">
                <article class="priceJs" data-redirect-url="{{ url('product.show', {'slug': goodie.title}) }}">{{ goodie.price | format_currency('EUR', locale='fr')}}</article>
                <h3 class= "product-item">{{ goodie.title }}</h3>
            </article>    
            {% endfor %}
        </article>
    </section>

</main>

{% endblock %}