{% extends "base.html.twig" %}
{% block title %}{{parent()}} -Page d'acceuil{% endblock %}

{% block body %}
<main>
<section class="container_oneproduct">
<article class= "product_container_oneproduct">
{% for article in articles %}
<article class="img_oneproduct">
    <img class="img_product_one" src="{{ asset('img/' ~ article.categoryName ~ '/' ~ article.picture) }}" alt="{{ article.description }}">
</article>

<article class="product_container_item">
    <h3 class="product_container_item">{{ article.title }}</h3>
    <p class="product_container_item">Prix : {{article.price | format_currency('EUR', locale='fr')}}</p>
    <p class="product_container_item">Description : {{article.description}}</p>
        {% if article.statut == 1 %}
        <p class="product_container_item text-success">En stock</p>
    {% elseif article.statut == 0 %}
        <p class="product_container_item text-danger">Rupture de stock</p>
    {% else %}
        <p class="product_container_item">Quantité : {{ article.statut }}</p>
    {% endif %}
    <a class="product_container_item" href="{{url('product.show', {'slug': article.title})}}">Ajouter au panier</a>
</article>
{% endfor %}
</article>
</section>
</main>
{% endblock %}