{% extends "base.html.twig" %}
{% block title %}{{parent()}} -Page des Vetements{% endblock %}

{% block body %}
<main>
    <section class="products-and-filters">
    
            <article class="menu_filter">
            <h3>Nos Vetements</h3>
            {% for manga in Mangas %}
            <ul>
            <li><a href="#">{{manga.name}}</a></li>
            </ul>
            {% endfor %}
        </article>

        <article class= "product-container">
            {% for vetement in Vetements %}
            <article class="product-item">
                <img class="imgproduct" src="{{ asset('img/Vetements/' ~ vetement.picture) }}" alt="{{ vetement.description }}">
                <h3 class="product-item">{{ vetement.title }}</h3>
                <a class="product-item" href="{{url('product.show', {'slug': vetement.title})}}">Voir ce produit</a>
            </article>
            {% endfor %}
        </article>
    </section>

</main>

{% endblock %}