{% extends "base.html.twig" %}
{% block title %}{{parent()}} -Page d'acceuil{% endblock %}

{% block body %}
<main>
<h2>Bievenue, vous êtez connecté</h2>
{% include "_inc/notice.html.twig" %}
        <section class="carousel">
            <article class="slides">

                <article class="slide" id="slide1_content">
                    <figure>
                        <img class="img_slide" src="{{ asset('img/Goodie/epée_rengoku.jpg')}}" alt="Photo d'un katana du manga demon slayer avec le personnage de rengoku kyojuro pour démontrer la promotion">
                        <figcaption>
                        <h3>Nouvelle arrivage !</h3>
                        <h2>De nouveaux katanas démon slayer, notamment ceux de la saison 3 !</h2>
                            <p>Nouvelle arrivage de katana, les katanas de Demon Slayer ! Incarne ton pourfendeur preferé !</p>
                        </figcaption>
                    </figure>
                </article>

                <article class="slide" id="slide2_content">
                    <figure>
                        <img class="img_slide" src="{{ asset('img/slidejapanexpo.jpg')}}" alt="Affiche promotionnel de la Japan Expo  démontrant la convention qui se deroulera du 11 au 14 juillet">
                        <figcaption>
                        <h3>La Japan Expo 2024 !</h3>
                        <H2>La Japan Expo 2024, arrive bientot, profitez de la reduction pour les cosplay !</H2>
                            <p>Promo sur tout les articles cosplay, en vue de la japan expo !</p>
                        </figcaption>
                    </figure>
                </article>

                <article class="slide" id="slide3_content">
                    <figure>
                        <img class="img_slide" src="{{ asset('img/slidergokuangel.jpg')}}" alt="Poster de sangoku volant vers le paradis avec le kaioshin, en hommage à Akira toriya, l'autheur de Dragon ball">
                        <figcaption>
                        <h3>Triste nouvelle...</h3>
                        <h2>En raison du décès de Mr.toriyama, tout nos articles dragon ball sont en promotion.</h2>
                            <p>Promos de -50%, sur tout les articles Dragon ball, en hommage à Toriyama-Sensei.</p>
                        </figcaption>
                    </figure>
                </article>

                <button class="prev" onclick="prevSlide()">&#10094;</button>
                <button class="next" onclick="nextSlide()">&#10095;</button>

                </article>
            </article>
        </section>
    <section>

      <h2>Nos nouvelles figurines !</h2>
      <p>Retrouve toutes nos nouvelles figurines</p>
<section class="products-and-filters">
        <article class= "product-container">
            {% for article in articlesAllFigurines %}
            <article class="product-item">
            <img class="imgproduct" src="{{ asset('img/Figurine/' ~ article.picture) }}" alt="{{ article.title }}">
            <h3 "product-item">{{ article.title }}</h3>
            <a class="product-item" href="{{url('product.show', {'slug': article.title})}}">Voir ce produit</a>
            </article>
            {% endfor %}
        </article>
        </section>
        
        <h2>Tous nos articles Dragon ball en promotion !</h2>
        <p>Retrouve tout nos articles de dragon ball</p>
        <section class="products-and-filters">
            <article class= "product-container">
            {% for article in articlesDB %}
                <article class= "product-item">
                <img class="imgproduct" src="{{ asset('img/' ~ article.categoryName ~ '/' ~ article.picture) }}" alt="{{ article.description }}">
                <h3 class="product-item">{{ article.title }}</h3>
                <a class="product-item" href="{{url('product.show', {'slug': article.title})}}">Voir ce produit</a>
                </article>
                {% endfor %}
        </article>

    </section>
    </main>
{% endblock %}